# Окружение (виртуальная среда)
.venv/
venv/
env/
__pycache__/
*.pyc

# Конфиденциальные данные
.env

# База данных (чтобы не затереть серверную версию локальной)
*.db
database.db

# Настройки IDE
.idea/
.vscode/